*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	font-family:Arial, sans-serif;
	background-image:url("hotel9.jpg");
	background-size:cover;
}
header{
	padding:20px;
	margin-top:10px;
}
header h1{
	text-align:center;
}
nav ul{
	display:flex;
}
nav ul li{
	list-style:none;
	margin: 0px 100px;
	color:#fff;
}
nav ul li a{
	text-decoration:none
}

.contener{
	display:flex;
	margin:5px;
	align-items:center;
	padding:10px;
	justify-content:center;
}
.contener main{
	margin:10px;
	display:flex;
	width:60%;
	overflow:auto;
	padding:10px;
	gap:10Px;
	background:transparent;
	backdrop-filter:blur(6px);
	border-radius:10px;
}
.contener main h2{
	color:#666;
}
.contener aside{
	width:38%;
	margin-left:5px;
	padding:10px;
	overflow:auto;
	background:transparent;
	backdrop-filter:blur(6px);
	border-radius:10px;
}
.contener  input,textarea,select,label{
	display:flex;
	width:400px;
	background:transparent;
	backdrop-filter:blur(6px);
	padding:10px;
	color:#fff;
	border-radius:10px;
}
.contener button{
	display:block;
	margin-top:5px;
	width:200px;
	padding:10px;
	border-radius:10px;
	transition:1s;
}
.contener button:hover{
	background:transparent;
}

.map-container {
      width:400px;
      height: 400px;
      border: 1px solid #ccc;
      border-radius: 8px; /* optionnel, coins arrondis */
      overflow: hidden;
	  margin:10px;
	  padding:10px;
    }